@import "tailwindcss";

@theme {
  --color-brand-orange: #F45D3D;
  --color-background: #0D0D0D;
  --color-background-alt: #1B1B1D;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #E5E5E5;
  --color-border: #333333;
  --color-surface: #1B1B1D;
  --color-text-muted: #999999;
  --color-brand-hover: #e54d2d;

  --font-family-sans: Inter, system-ui, sans-serif;
  --font-family-heading: Outfit, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  color: var(--color-text-primary);
}
